bcrypt==4.1.2
cryptography==41.0.7
fastapi==0.108.0
fastapi-another-jwt-auth==0.1.10
mysql-connector-python==8.2.0
pydantic[email]==2.5.3
python-multipart==0.0.6
redis[hiredis]==5.0.1
SQLAlchemy[asyncio]==2.0.23
ujson==5.9.0
uvicorn==0.25.0
