autopep8==2.*
debugpy==1.8.0
flake8==7.*
flake8-builtins==2.*
flake8-comprehensions==3.*
flake8-eradicate==1.*
flake8-print==5.*
flake8-length==0.*
flake8-quotes==3.*
flake8-use-fstring==1.*
types-requests==2.*
